body {
    height: 95vh;
}

#mainContainer {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    height: 100%;
    border: 2px solid black;
}

.flexbox-item {
    flex: 1;
    border: 2px solid red;
    height: 100%;
    width: 30%;
}

.outputError {
    color: red;
}
