body {
    height: 100vh;
    margin: 0px;
}

.rotate {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    display: inline-block;
}

#header {
    height: 40px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

button {
    margin-left: 5px;
}

#mainContainer {
    display: flex;
    justify-content: space-around;
    gap: 0px;
    height: calc(100% - 40px);
}

#terminal {
    flex: 30;
}

#code {
    flex: 30;
    border-right: 2px solid #264649;
}

#graphicsContainer {
    flex: 30;
    border-left: 2px solid #eec037;
}

#codeBar, #terminalBar, #graphicsBar {
    display: flex;
    justify-content: space-between;
    padding-left: 4px;
}

#codeBar, #collapsedCode {
    background-color: #264649;
    color: white;
}

#terminalBar, #collapsedTerminal {
    background-color: #a0e3dc;
}

#graphicsBar, #collapsedGraphics {
    background-color: #eec037;
}

#collapsedCode, #collapsedTerminal, #collapsedGraphics {
    display: flex;
    flex: 0.4;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 25px;
    cursor: pointer;
}

.minimize {
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-right: 4px;
}

#editor {
    width: 100%;
    height: calc(100% - 20px);
}

#terminal {
    overflow-y: auto;
}

#output {
    white-space: pre-wrap;
    font-family: monospace;
    padding: 10px;
}

.line {
    display: flex;
    align-items: center;
}

#repl-input {
    flex: 1;
    min-width: 0;
    font-family: monospace;
    background: #ddd;
    border: none;
    outline: none;
    padding: 0px;
}

.flexbox-item {
    /*flex: 1;
    border: 2px solid red; */
    background-color: #eeeeee;
    height: 100%;
    width: 30%;
}

.userInput {
    color: blue;
}

.outputError {
    color: red;
}
