body {
    height: 95vh;
}

#mainContainer {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    height: 100%;
    border: 2px solid black;
}

#output {
    white-space: pre-wrap;
    font-family: monospace;
    background: #111;
    color: #eee;
    padding: 10px;
    height: 400px;
    overflow-y: auto;
}

#repl-input {
    width: 100%;
    font-family: monospace;
    background: #222;
    color: #fff;
    border: none;
    outline: none;
    padding: 8px;
}

.flexbox-item {
    flex: 1;
    border: 2px solid red;
    height: 100%;
    width: 30%;
}

.outputError {
    color: red;
}
