body {
    height: 95vh;
}

#mainContainer {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    height: 100%;
    border: 2px solid black;
}

#output {
    white-space: pre-wrap;
    font-family: monospace;
    padding: 10px;
    overflow-y: auto;
}

#repl-input {
    width: calc(100% - 36px);
    font-family: monospace;
    background: #ddd;
    border: none;
    outline: none;
    padding: 0px;
    margin-left: 36px;
    position: relative;
    top: -26px;
}

.flexbox-item {
    flex: 1;
    border: 2px solid red;
    height: 100%;
    width: 30%;
}

.outputError {
    color: red;
}
