body {
    height: 95vh;
}

#mainContainer {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    height: 100%;
    border: 2px solid black;
}

#outputBox {
    overflow-y: auto;
}

#output {
    white-space: pre-wrap;
    font-family: monospace;
    padding: 10px;
}

.line {
    display: flex;
    align-items: center;
}

#repl-input {
    flex: 1;
    min-width: 0;
    font-family: monospace;
    background: #ddd;
    border: none;
    outline: none;
    padding: 0px;
}

.flexbox-item {
    flex: 1;
    border: 2px solid red;
    height: 100%;
    width: 30%;
}

.userInput {
    color: blue;
}

.outputError {
    color: red;
}
